{% extends 'layout.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Usuario creation</h1>

    <div class="forms">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            {{ form_widget(form) }}<br>
            <input type="submit" value="Create" class="btn btn-default"/>
        {{ form_end(form) }}
    </div>    

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}" class="btn btn-default">Back to the list</a>
        </li>
    </ul>
 </div>
{% endblock %}
